body {
  background: #ecebeb;
  color: #333333;
}

form { 
  display: inline-block;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  color: #383838;
}

h1 {
  font-size: 25px;
}

.alert {
  padding: 12px;
  border-radius: 3px;
  font-size: 1.2rem;
  margin-bottom: 16px;
  border-width: 2px;
  border-style: solid;
}

.alert-error {
  color: #840a0a;
  background-color: #e6cfcf;
  border-color: #e4baba;
}

.available{
  color: rgb(13, 97, 13);
}

.borrowed {
  color: rgb(185, 0, 0);
}

.card {
  background: #cfcfcf;
  width: 500px;
  display: inline-block;
  margin-bottom: 20px;
  margin-right: 20px;
}

.card-body {
  text-align: start;
}

.center {
  text-align: center;
}

.center-text {
  height: 100px;
  line-height: 100px;
  text-align: center;
  border: 2px dashed #f69c55;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.error {
  color: red;
}

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
}


.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

#form-btn {
  background-color: #343a40;
  color: #8c9093;
  border: none;
  border-radius: 5px;
  width: 100px;
  margin-right: 20px;
}

#form-btn:hover {
  color: #d4d9dd;
}

#form-btn-2 {
  background-color: #343a40;
  color: #8c9093;
  border: none;
  border-radius: 5px;
  width: fit-content;
  margin-right: 20px;
  
}

#form-btn-2:hover {
  color: #000000;
}

#form-btn-3 {
  background-color: #343a40;
  color: #8c9093;
  border: none;
  border-radius: 5px;
  width: 200px;
  margin-right: 20px;
}

#form-btn-3:hover {
  color: #d4d9dd;
}
