{% extends 'layout.html' %}
{% block content %}
<h1 class="text-center"> {{ book.title }}</h1>
<br>
<br>
<div class="row">
    <div class="col">
        <p>Author:</p>
        <p>Status:</p>
        <p>Description:</p>
        {% if book.status.name == 'borrowed' %}
            <p>Expected date of return:</p>
            <p>Currently borrowed by:</p>
        {% endif %}
    </div>
    <div class="col">
        <p>{{book.author}}</p>
        <p>{{book.status.name}}</p>
        <p>{{book.description}}</p>
        {% if book.status.name == 'borrowed' %}
            <p>{{due_date.strftime('%d.%m.%Y')}}</p>
            <p>{{current_owner}}</p>
        {% endif %}
    </div>
</div>
<br>
<br>
<h3>Renting history</h3>
</div> 

{% endblock content %}
