{% extends 'layout.html' %}
{% block content %}
<br>
<br>
<h1>Bookshelf</h1>
<br>
<div class="book-container">
  {%for book in books %}
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col">
          <h5 class="card-title">{{ book.title }}</h5>
        </div>
        
      </div>
      <small class="text-muted">By {{book.author}}</small>
      <p class="card-text {{book.status.name}}">{{book.status.name}}</p>
        <div class="btn-group">
          {% if book.status.name == "available" %}
          <form method="POST" action="/borrow-book" class="form-btn">
            <input name="csrf_token" type="hidden" value="{{ csrf_token }}">
            <input name="id" type="hidden" value="{{ book.id }}">
            <button id="form-btn" class="nav-link" type="submit">Borrow</button>
          </form>
          {% elif book.status.name == "borrowed" %}
          <form method="POST" action="/request" class="form-btn">
            <input name="csrf_token" type="hidden" value="{{ csrf_token }}">
            <input name="id" type="hidden" value="{{ book.id }}">
            <button id="form-btn" class="nav-link" type="submit">Request</button>
          </form>
          {% endif %}


          <form method="GET" action="/book" class="form-btn">
            <input name="id" type="hidden" value="{{book.id}}">
            <button id="form-btn" class="nav-link" type="submit">Details</button>
          </form>

          <form method="POST" action="/reading-list" class="form-btn">
            <input name="csrf_token" type="hidden" value="{{ csrf_token }}">
            <input name="id" type="hidden" value="{{ book.id }}">
            <input name="method" type="hidden" value="add">
            <button id="form-btn" class="nav-link" type="submit"><strong>+</strong></button>
          </form>
        </div>
    
    </div>
  </div>
  {% endfor %}
</div>
<br>
<br>
{% endblock content %}